
<div class="container-fluid g-0 p-2">
    <div class="row g-0">
        <div class="col-md-2 d-flex justify-content-center align-items-center">
            <img src="../../assets/images/profile1.png" alt="Profile Image" class="profile">
        </div>
        <div class="col ps-2">
            <div class="row g-0">
                <div class="col-md-10 text-center">
                    <span class="name">{{customer.customerName |titlecase}}</span>
                </div>

            </div>
            <div class = "row g-0 mt-3">
                <div class="col-md">
                    <table class="table table-hover mx-auto">
                        <thead class =" text-center fs-5 fst-italic text-secondary">
                            <tr>
                                <td colspan="2">Personal Details</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>BirthDate</td>
                                <td>{{customer.customerDOB}}</td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>{{customer.gender}}</td>
                            </tr>
                            <tr>
                                <td>Aadhar Number</td>
                                <td>{{customer.aadharNumber}}</td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>{{customer.address}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                        <table class="table table-hover mx-auto">
                            <thead class="text-center fs-5 fst-italic text-secondary">
                                <tr>
                                    <td colspan="2">Contact Details</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Email</td>
                                    <td>{{customer.emailAddress}}</td>
                                </tr>
                                <tr>
                                    <td>Phone Number</td>
                                    <td>{{customer.phoneNumber}}</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>

        </div>
    </div>
</div>